<nav class="fixed bottom-0 left-0 w-full h-[10vh] bg-white border-t border-amber-300 
flex justify-evenly items-center py-2 sm:py-3 z-50">

  <!-- Characters -->
  <a routerLink="" 
  routerLinkActive="text-amber-400 scale-110"
  [routerLinkActiveOptions]="{ exact: true }"
  class="flex flex-col items-center text-xs sm:text-sm text-gray-600 simpsons-title 
  transition-all duration-200 hover:scale-110 hover:text-amber-300">

    <img class="w-8 h-8 sm:w-10 sm:h-10"
    src="https://img.icons8.com/doodle/48/maggie-simpson.png" 
    alt="characters"/>

    Characters
  </a>

  <!-- Episodes -->
  <a routerLink="/episodes" 
  routerLinkActive="text-amber-400 scale-110"
  class="flex flex-col items-center text-xs sm:text-sm text-gray-600 simpsons-title 
  transition-all duration-200 hover:scale-110 hover:text-amber-300">

    <img class="w-8 h-8 sm:w-10 sm:h-10"
    src="tv.png" 
    alt="episodes"/>

    Episodes
  </a>

  <!-- Locations -->
  <a routerLink="/locations" 
  routerLinkActive="text-amber-400 scale-110"
  class="flex flex-col items-center text-xs sm:text-sm text-gray-600 simpsons-title 
  transition-all duration-200 hover:scale-110 hover:text-amber-300">

    <img class="w-8 h-8 sm:w-10 sm:h-10"
    src="house.png" 
    alt="locations"/>

    Locations
  </a>

</nav>