<app-spinner *ngIf="loading"></app-spinner>
<div class="w-full  xl:w-5/6 mx-auto grid grid-cols-1 md:grid-cols-4 xl:grid-cols-5 gap-6 p-6 ">

  <div *ngFor="let character of characters; let i = index"
  
       class="bg-blue-100 rounded-2xl shadow-md hover:scale-105 transition cursor-pointer overflow-hidden" [routerLink]="['/characters', character.id]" >

     
       <div class="bg-[url('/fondo.png')] bg-cover  pt-4">
        <img
[src]="'https://cdn.thesimpsonsapi.com/500' + character.portrait_path"
      class="w-full h-40 object-contain"
    />
       </div>
 

    <div class="m-4">
      <h3 class="font-bold text-lg text-center">
      {{character.name}}
    </h3>

   <div class="flex gap-2 w-full ali"><p 
  class="text-xs text-center font-black px-3 py-1 rounded-full inline-block"
  [ngClass]="character.status === 'Alive' 
    ? 'text-green-500 bg-green-100' 
    : 'text-red-500 bg-red-100'">

  {{ character.status }}

</p>
 <p 
    class="text-xs font-black px-3 py-1 rounded-full inline-block"
    [ngClass]="character.gender === 'Female' 
      ? 'text-pink-500 bg-pink-200' 
      : character.gender === 'Male' 
        ? 'text-blue-500 bg-blue-200' 
        : 'text-gray-500 bg-gray-100'">

    {{ character.gender }}

  </p></div>
    
    </div>

  </div>
  <button 
  *ngIf="showScrollTop"
  (click)="scrollToTop()"
  class="
  fixed bottom-40 lg:bottom-25 right-5 lg:right-10
  flex items-center justify-center

  w-14 h-14
  bg-yellow-300 hover:bg-yellow-400
  text-xl text-white
  rounded-full shadow-lg
  transition duration-300
  ">

  <i class="fa-solid fa-arrow-up"></i>

</button>

</div>