/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: 'Simpsonfont';
  src: url('/Fonts/Simpsonfont.otf') format('truetype');
}

.simpsons-title{
  font-family: 'Simpsonfont', cursive;
}
body{
    background-color: #FFFFF0;
    font-family: 'Nunito', sans-serif;
}

